<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abdominalpain</title>
</head>
<body>
    <p>Abdominal pain<br>
        These diseases and conditions match at least one of the factors you selected. Those with the most matches are listed first.<br>
        <br><br>
        Gastritissee associated factors<br><br>
    
        Pain is burning<br>
        Pain is ongoing (chronic)<br>
        Pain is gnawing<br>
        Pain is intermittent or episodic<br>
        Pain is steady<br>
        Pain located in middle abdomen<br>
        Pain located in upper abdomen<br>
        Triggered or worsened by drinking alcohol<br>
        Triggered or worsened by eating certain foods<br>
        Accompanied by abdominal swelling<br>
        Accompanied by nausea or vomiting<br>
        Accompanied by unintended weight loss<br>
        Nonulcer stomach painsee associated factors
        <br>
        Pain is burning<br>
        Pain is gnawing<br>
        Pain located in upper abdomen<br>
        Triggered or worsened by stress<br>
        Relieved by antacids<br>
        Relieved by eating certain foods<br>
        Accompanied by nausea or vomiting<br>
        Accompanied by passing gas</p>
</body>
</html>