<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blood in stool</title>
</head>
<body>
    <p>
        Blood in stool<br><br>
        These diseases and conditions match at least one of the factors you selected. Those with the most matches are listed first.
        <br>
        Anal fissuresee associated factors<br>
        Blood appears in or on the stool<br>
        Blood appears in toilet bowl or on toilet tissue<br>
        Triggered or worsened by straining during bowel movements<br>
        Accompanied by painful bowel movements<br><br>
        Colon cancersee associated factors<br><br>
   
        Blood appears in or on the stool<br>
        Accompanied by change in bowel habits that lasts longer than four weeks<br>
        Accompanied by constipation<br>
        Accompanied by diarrhea<br>
        Accompanied by fatigue or weakness<br>
        Accompanied by narrow stools<br>
        Accompanied by nausea or vomiting<br>
        Accompanied by painful bowel movements<br>
        Accompanied by persistent abdominal discomfort, such as cramps, gas or pain<br>
        Accompanied by unintended weight loss<br>


    </p>
</body>
</html>