<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cough</title>
</head>
<body>
    <p>Symptoms
        Illustration showing acute sinusitis
        Acute sinusitis
        Acute sinusitis symptoms often include:
        
        Drainage of a thick, yellow or greenish discharge from the nose or down the back of the throat (postnasal drainage)
        Nasal obstruction or congestion, causing difficulty breathing through your nose
        Pain, tenderness, swelling and pressure around your eyes, cheeks, nose or forehead that worsens when bending over
        Other signs and symptoms can include:
        
        Ear pressure
        Headache
        Aching in your upper jaw and teeth
        Reduced sense of smell and taste
        Cough, which might be worse at night
        Bad breath (halitosis)
        Fatigue
        Fever</p>
</body>
</html>