<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Headaches</title>
</head>
<body>
    <p>
Pain is mild to moderate<br>
Onset is preceded by a head injury or fall<br>
Accompanied by change in personality, behaviors or mental status<br>
Accompanied by confusion<br>
Accompanied by difficulty speaking<br>
Accompanied by dizziness<br>
Accompanied by memory loss or forgetfulness<br>
Accompanied by nausea or vomiting<br>
Giant cell arteritissee associated factors<br>
Pain is mild to moderate<br>
Pain is moderate to severe<br>
Pain is throbbing<br>
Pain located around your temples<br>
Pain located on both sides of your head<br>
Pain located on one side of your head<br>
Onset is gradual<br>
Triggered or worsened by chewing<br>
Relieved by over-the-counter pain medication<br>
Accompanied by fever<br>
Accompanied by jaw pain<br>
Accompanied by muscle or joint aches<br>
Accompanied by tender scalp<br>
Accompanied by vision problems<br>
Tension headachesee associated factors<br>
Pain is mild to moderate<br>
Pain is moderate to severe<br>
Pain is pressure or squeezing sensation<br>
Pain located on both sides of your head<br>
Triggered or worsened by poor posture<br>
Triggered or worsened by stress<br>
Relieved by over-the-counter pain medication<br>
    </p>
</body>
</html>